* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin: 10px;
}

p {
    text-align: center;
    margin: 20px;
}

p span {
    color: rgb(5,5,5)!important;
    text-decoration: underline;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */

.column {
    float: left;
    width: 33%;
    padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */

.row {
    margin: 10px 5px;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive columns */

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}